html, body {
    height: 100%;
    overflow: hidden;
}


#gameBar {
    position: relative;
    background: rgba(255, 255, 0, 1);
    text-align: center;
}

#gameBar > p {
    margin-top: 30px;
}

#answerProgress {
    margin-top: 100px;
}


.vertical {
  -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#gameField {
    text-align: center;
    height: 60%;
    width: 80%;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -40%;
    background: #aaaaaa;
}

    #questionCard {
        width: 99%;
        height: 40%;
        margin: 0.5%;
        text-align: center;
        display: table;
    }

        #questionBody {
            display: table-cell;
            vertical-align: middle;
        }

    #answerContainer {
        width: 99%;
        height: 56%;
        margin: 0.5%;
        text-align: center;
        display: table;
    }

    #answerContainer > div {
        position: relative;
        float: left;
        width: 48%;
        height: 42%;
        margin: 1%;
        border-radius: 5px;
    }

#gameBoard {
    position: relative;
}