{% extends "layout.html" %}
{% block styles %}
    <!-- MODAL Stylesheet -->
            <link rel="stylesheet" href="{{ url_for('static', filename='style/modal.css') }}">
{% endblock %}
<body>
    {% block content %}

    <!-- The Modal for input users name and pick mentor -->
        <div id="myModal" class="modal">

    <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Some text in the Modal..</p>
            </div>
        </div>

    {% endblock %}
</body>