{% extends "layout.html" %}
{% block styles %}
    <!-- MODAL Stylesheet -->
            <link rel="stylesheet" href="{{ url_for('static', filename='style/modal.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='style/mikolaj.css') }}">
    <!-- MODAL JS script -->
            <script src="{{ url_for('static', filename='js/modal.js') }}" defer></script>
            <script src="{{ url_for('static', filename='js/dom.js') }}" defer></script>
{% endblock %}
<body>
    {% block content %}

    <!-- The Modal for input users name and pick mentor -->
        <div id="myModal" class="modal">

    <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <form class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <span id="modalHeader"><h2>Welcome smartass!</h2></span>
                        <div id="modalContent">
                            <p>Please enter your name and select mentor to start game! </p>
                            <label for="inputPlayerName" class="sr-only">Player name</label>
                            <input type="text" class="form-control" id="inputPlayerName" placeholder="Player Name">
                            <div role="button" class="btn btn-primary mb-2" onclick="dom.launchGame()" id="confirmButton">Confirm identity</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
            <div class="section float-left col-10 bg-light h-100 rounded-left" id="gameBoard">
                <div id="gameField" class="card rounded">
                    <div class="card rounded" id="questionCard">
                        <div id="questionBody"></div>
                    </div>
                    <div class="card rounded" id="answerContainer">
                    </div>
                </div>
            </div>
            <div class="section float-right col-2 h-100 rounded-right" id="gameBar">
                <p> Progress </p>
                <div class="progress vertical" id="answerProgress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                </div>
            </div>
    {% endblock %}
</body>