<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

        <title>You are amazing!</title>

        <!-- Bootstrap styling -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- project wide styling -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">

        <!-- page specific styling -->
        {% block styles %}{% endblock %}
    </head>

    <body>
    <div class="container-fluid h-100">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="navbar-brand" href="#">Are you amazing?</a>
                </li>
                <li class="nav-item">
                    <button class="btn btn-danger navbar-btn" id="myBtn">Start Game!</button>
                </li>
            </ul>
        </nav>
        {% block content %}{% endblock %}
    </div>
    </body>
</html>