<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

        <title>You are amazing!</title>

        <!-- Bootstrap styling -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- project wide styling -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/modal.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/custom_modal.css') }}">

        <!-- scripts -->
        <script src="{{ url_for('static', filename='js/modal.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/dom.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/data_handler.js') }}" defer></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" defer></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js"defer></script>

        <!-- page specific styling -->
        {% block styles %}{% endblock %}
    </head>

    <body>
    <div class="container-fluid h-100">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="navbar-brand" href="#">Are you amazing?</a>
                </li>
                <li class="nav-item">
                    <button class="btn btn-danger navbar-btn" id="myBtn">Start Game!</button>
                    <button type="button" class="btn btn-secondary" id="registerBtn" onclick="dom.modalToggle('#registerModal')"> Register </button>
                    <button type="button" class="btn btn-secondary" id="loginBtn" onclick="dom.modalToggle('#loginModal')"> Login </button>
                    <a href="/logout" role="button" class="btn badge-danger" id="logoutBtn"> Logout </a>
                </li>
            </ul>
        </nav>
        {% block content %}{% endblock %}
    </div>
    <!-- modals -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registration</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action={{url_for('user_registration')}} method="post" id="registerForm">
                        <div class="form-group">
                            <label for="register-user-name" class="col-form-label">Username:</label>
                            <input type="text" class="form-control" id="register-user-name" name="username" minlength="5" required>
                        </div>
                        <div class="form-group">
                            <label for="register-message-text" class="col-form-label">Password:</label>
                            <input class="form-control" type="password" id="register-message-text" name="password" minlength="5" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="registerForm" value="submit">Register</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <div class="form-group">
                            <label for="login-user-name" class="col-form-label">Username:</label>
                            <input type="text" class="form-control" id="login-user-name">
                        </div>
                        <div class="form-group">
                            <label for="login-user-password" class="col-form-label">Password:</label>
                            <input class="form-control" type="password" id="login-user-password">
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="dom.loginToServer()">Login</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>